.button-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product {
    .product-price {
        font-size: 22px;
    }
    .product-features {
        font-size: 18px;
        margin-bottom: 5px;
        span {
            font-weight: bold;
        }
    }
    .product-description {
        font-size: 19px;
    }
    h4 {
        font-size: 23px;
    }
}